.proyectos {
  width: 100%;
    align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
}

.cards-proyectos {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  margin: 5rem;
}

.card-proyecto {
  display: flex;
  
 
}

.card-proyecto img {
  width: 100%;
  object-fit: contain;
   border: solid 3px ;
   border-color: rgb(165, 165, 163);
  border-radius: 10px;
}
