 <section class="section">
      <div style="background: radial-gradient(circle at 30% 20%, #2c3822, #0a0f07);
         border-radius: 2rem; padding: 2rem 1.5rem; text-align: center; max-width: 800px; margin: 0 auto;">
        <h2 style="font-size:1.6rem; font-family:'Cormorant Garamond', serif; color: #ecead8;">¿Tienes palmeras que
          necesitan cuidados?
        </h2>
        <p style="margin:1rem 0;color: #ecead8;">Somos especialistas en poda y endoterapia. Solicita una visita técnica.
        </p><button class="btn" id="finalContactBtn">🌿 Contactar con el equipo</button>
      </div>
    </section>