<header class="header" id="header">
    <div class="logo">Turia Jardín</div>
    <button class="menu-icon" id="menuIcon" aria-label="Menú">☰</button>
    <ul class="nav-links" id="navLinks">
      <li><a href="/turia-jardin/">Inicio</a></li>

      <li class="has-submenu"><a href="#">Servicios</a>


        <ul class="submenu">
          <li><a href="http://localhost:8080/turia-jardin/servicios/podaPalmeras.html">Poda de palmeras</a></li>
          <li><a href="http://localhost:8080/turia-jardin/servicios/podaArboles.html">Poda de árboles</a></li>
          <li><a href="http://localhost:8080/turia-jardin/servicios/tratamientosFitosanitarios.html">Tratamientos fitosanitarios</a></li>
          <li><a href="http://localhost:8080/turia-jardin/servicios/endoterapia.html">Endoterapia</a></li>
          <li><a href="http://localhost:8080/turia-jardin/servicios/adecuacionAreasVerdes.html">Adecuación áreas verdes</a></li>
        </ul>
      </li>

      <li><a href="http://localhost:8080/turia-jardin/noticias.html">Noticias</a></li>
      <li><a href="http://localhost:8080/turia-jardin/proyectos.html">Proyectos</a></li>
      <li><a href="http://localhost:8080/turia-jardin/contacto.html">Contacto</a></li>
   
    </ul>
    <div class="div-light">
  <button class="theme-toggle" id="themeToggle" aria-label="Cambiar tema">
    🌞
  </button>
</div> 
</header>
<!--
 <div class="preloader" id="preloader">
    <div class="preloader-spinner"></div>
  </div>

-->
 
  <div class="progress-bar" id="progressBar"></div>

  <header class="header" id="header">
    <div class="logo">Turia Jardín</div>
    <button class="menu-icon" id="menuIcon" aria-label="Menú">☰</button>
    <ul class="nav-links" id="navLinks">
      <li><a href="/turia-jardin/">Inicio</a></li>

      <li class="has-submenu"><a href="#">Servicios</a>


        <ul class="submenu">
          <li><a href="http://localhost:8080/turia-jardin/servicios/podaPalmeras.html">Poda de palmeras</a></li>
          <li><a href="http://localhost:8080/turia-jardin/servicios/podaArboles.html">Poda de árboles</a></li>
          <li><a href="http://localhost:8080/turia-jardin/servicios/tratamientosFitosanitarios.html">Tratamientos fitosanitarios</a></li>
          <li><a href="http://localhost:8080/turia-jardin/servicios/endoterapia.html">Endoterapia</a></li>
          <li><a href="http://localhost:8080/turia-jardin/servicios/adecuacionAreasVerdes.html">Adecuación áreas verdes</a></li>
        </ul>
      </li>

      <li><a href="http://localhost:8080/turia-jardin/noticias.html">Noticias</a></li>
      <li><a href="http://localhost:8080/turia-jardin/proyectos.html">Proyectos</a></li>
      <li><a href="http://localhost:8080/turia-jardin/contacto.html">Contacto</a></li>
   
    </ul>
    <div class="div-light">
    <button class="theme-toggle" id="themeToggleDesktop">🌞</button>
  </div>
</header>