/* cada bloque */
.feature {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* texto */
.feature h4 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-primary);
}

.feature p {
  margin: 0;
  font-size: 1rem;
  color: var(--text-secondary);
}

/* separador fino vertical */
.divider {
  width: 1px;
  height: 40px;
  background: rgba(255, 255, 255, 0.08);
}

.features-line {
  margin: 0 auto;

  padding: 0rem 6rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  color: #cfe3c6;
  margin-bottom: 6rem;
}

/* icono minimal */
.feature .icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #9bd27d;
}

.feature .icon svg {
  width: 40px;
  height: 40px;
}

/* ============================================================
   IDENTIDAD DE MARCA
============================================================ */

.identity-section {
  padding: 120px 6%;

  overflow: hidden;
}

.identity-container {
  max-width: 1400px;

  margin: auto;

  display: grid;

  grid-template-columns:
    1.1fr
    0.9fr;

  gap: 80px;

  align-items: center;
}

/* TEXTO */

.identity-label {
  display: block;

  color: #9eaf5b;

  letter-spacing: 5px;

  font-size: 0.75rem;

  margin-bottom: 25px;
}

.identity-content h2 {
  max-width: 700px;

  color: var(--text-primary);

  font-family: Georgia, serif;

  font-size: 3rem;

  font-weight: 400;

  line-height: 1.15;

  margin: 0;
  margin-bottom: 3rem;
}

.identity-line {
  width: 70px;

  height: 2px;

  background: #9caf5c;

  margin: 40px 0;
}

/* ITEMS */

.identity-item {
  display: flex;

  gap: 25px;

  margin-bottom: 35px;

  padding-bottom: 25px;

  border-bottom: 1px solid rgba(150, 170, 90, 0.12);
}

.identity-icon {
  width: 55px;

  height: 55px;

  flex: none;

  display: flex;

  justify-content: center;

  align-items: center;

  color: #a8bd62;

  font-size: 1.5rem;
}

.identity-item h3 {
  margin: 0 0 10px;

  color: var(--text-muted);

  font-family: Georgia, serif;

  font-size: 1.25rem;

  font-weight: 400;

  letter-spacing: 1px;
}

.identity-item p {
  margin: 0;

  color: var(--text-secondary);

  line-height: 1.7;

  max-width: 500px;
}

/* IMAGEN */

.identity-image {
  position: relative;
   
   
}

.identity-image img {
  width: 100%;

  height: 700px;

  object-fit: cover;

  border-radius: 35px;

  position: relative;

  z-index: 2;

  filter: saturate(0.85);
  border: 1px solid rgba(150, 170, 90, 0.3);
}


/* RESPONSIVE */

@media (max-width: 900px) {
  .identity-container {
    grid-template-columns: 1fr;

    gap: 50px;
  }

  .identity-image img {
    height: 450px;
  }
}
