
/* =========================
   📄 SECCIONES GENERALES
   ========================= */

/* estructura base de cada bloque de página */
.section {
  min-height: 100vh; /* ocupa pantalla completa */
 
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra vertical */
  align-items: center; /* centra horizontal */

  position: relative;
  width: 100%;
}



/* estado inicial (oculto) */
.reveal-fade {
  opacity: 0;
  transform: translateY(28px); /* empieza abajo */
  transition: opacity 0.4s ease, transform 0.5s ease;
 
}

/* cuando aparece en pantalla */
.reveal-fade.revealed {
  opacity: 1;
  transform: translateY(0);
}


/* =========================
   📊 BARRA DE PROGRESO SCROLL
   ========================= */

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%; /* JS la va aumentando */
  height: 3px;
  background: var(--accent-light);
  z-index: 1150;
}

